<!DOCTYPE html>

<html>
    <head>
        <title>Todo List</title>
        <link rel="stylesheet" href="styles.css">
       
    </head>

    <body>
        <h1 align="center">Todo List</h1>
         <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo"></label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                
            </p>
        </form>
		<div id ="div1">
		<ul id="todolist">
		    <li for="item in data.list">
		        <a href=${data.url}${item._id}><img src="delete.png" width="12" height="12">
		        </a>&nbsp;${item.val}
		    </li>
		</ul>
		</div>
		<div id ="div2">
		<ul id="todolist">
		    <li for="item in data.list">
		        <a href=${data.url}${item._id}><img src="delete.png" width="12" height="12">
		        </a>&nbsp;${item.val}
		    </li>
		</ul>
		</div>
		<div id ="div3">
		<ul id="todolist">
		    <li for="item in data.list">
		        <a href=${data.url}${item._id}><img src="delete.png" width="12" height="12">
		        </a>&nbsp;${item.val}
		    </li>
		</ul>
		</div>
       
    </body>
</html>